:root {
  --dark-main: #36393f;
  --dark-darkest: #202225;
  --dark-darker: #2f3136;
  --dark-text: rgb(189, 189, 189);
  --dark-lighter: #41454b;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-text);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  background: var(--dark-main);
}

.App {
  height: 100vh;
  display: flex;
}

.sidebar {
  background: var(--dark-darkest);
  width: 85px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: none;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--dark-main);
  border-radius: 3px;
}

.friends-page {
  display: grid;
  width: 100%;
  grid-template-columns: 260px 1fr;
}

.main-icon {
  padding: 4px;
}
.main-icon .main-icon-img {
  width: 100%;
}

.server-icon {
  width: 60px;
  height: 60px;
  background: var(--dark-main);
  border-radius: 50%;
  transition-duration: 200ms;
  margin: 10px 0;
  overflow: hidden;
}
.server-icon-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.server-icon:hover {
  cursor: pointer;
  background: rgb(43, 117, 208);
  border-radius: 30%;
}

.dm-column {
  background: var(--dark-darker);
  padding: 15px;
  padding-top: 20px;
  overflow: auto;
}
.dm-column::-webkit-scrollbar {
  width: 5px;
}
.dm-column::-webkit-scrollbar-track {
  background-color: none;
}
.dm-column:hover::-webkit-scrollbar-thumb {
  background: var(--dark-darkest);
  border-radius: 3px;
}

.friend-add-button {
  font-size: 20px;
  margin-bottom: 20px;
  background: rgb(42, 133, 42);
  border: none;
  padding: 5px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.friend-add-button span {
  color: white;
}
.friend-add-button:hover {
  cursor: pointer;
  background: rgb(54, 149, 54);
}
.dm-column h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.chat-bubble {
  font-size: 20px;
}

.add-friend-page {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
}
.add-friend-page::-webkit-scrollbar {
  width: 8px;
}
.add-friend-page::-webkit-scrollbar-track {
  background-color: none;
}
.add-friend-page:hover::-webkit-scrollbar-thumb {
  background: var(--dark-darkest);
  border-radius: 5px;
}
.add-friend-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.add-friend-container label {
  font-size: 28px;
  font-weight: bold;
}
.add-friend-container input[type="text"] {
  max-width: 500px;
}
.add-friend-container button {
  background: rgb(43, 117, 208);
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-friend-container button:hover {
  cursor: pointer;
  background: rgb(64, 126, 202);
}
.add-friend-container button span {
  color: white;
  font-size: 20px;
}

.add-friend-inputs-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  background: var(--dark-darkest);
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  color: white;
}

.received-req h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

ul {
  padding: 0;
}
.friend,
.req {
  padding: 6px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}
.friend:hover {
  cursor: pointer;
  background: var(--dark-main);
}

.req-left,
.friend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.req-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.req {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.req:hover {
  background: var(--dark-lighter);
}

.friend-pfp {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.req-name {
  color: white;
}

.hor-line {
  background: var(--dark-darker);
  height: 2px;
  width: 100%;
}

.accept-button {
  background: var(--dark-darker);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.accept-button:hover {
  cursor: pointer;
}
.accept-button-accept:hover span {
  color: green;
}
.accept-button-decline:hover span {
  color: rgb(255, 54, 54);
}
